body h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(63, 63, 63);
}
body {
  background: url("../images/color7.png") no-repeat center center fixed;
  background-size: cover;
}

.header {
  margin: 30px 0px;
  color: rgb(26, 26, 26);
}

.crystal {
  height: 120px;
}
